In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/shopeep_koreantop_clothing_shop_data.csv')
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [5]:
df = df[['join_month', 'join_day','join_year','shop_location','rating_bad','rating_good','rating_normal']]
df.head()

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal
0,April,27,2020,NaN,181,17510,729
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073
3,April,30,2017,"Binondo,Metro Manila",44,18959,215
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383

In [6]:
df.loc[:,'rating'] =  df['rating_good'] * 2 + df['rating_normal'] - df['rating_bad'] * 3
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal,rating
0,April,27,2020,NaN,181,17510,729,35206
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198,5276
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073,2147790
3,April,30,2017,"Binondo,Metro Manila",44,18959,215,38001
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383,78847
...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0,64
742,March,3,2021,NaN,1,9,0,15
743,December,20,2020,NaN,16,463,16,894
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982,204680
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799,1407928

In [8]:
pd.read_csv('https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fs3.ap-southeast-1.amazonaws.com%2Flearn.codegym.vn%2Fmedia%2Fpublic%2F2022%2F01%2F08185826%2Fhouse_price_do%25CC%2582%25CC%2581ng-da.xlsx&wdOrigin=BROWSELINK')

ValueError: No tables found